.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

}

.container button {
    width: 43.75rem;
    height: 6.25rem;
    font-size: 1.25rem;
    background-color: var(--violet-300);
}

@media (max-width: 1280px) {

    .container button {
        width: 400px;
    }
}

@media (max-width:768px) {

    .container button {
        width: 400px;
        height: 5rem;
        font-size: 1rem;
    }
}

@media (max-width:414px) {

    .container button {
        width: 300px;
    }

}