.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: var(--violet-200); */
    /* position: relative;*/

    transform: translate(0%, -400%);
    margin-bottom: 100px;

}

.container button {
    width: 700px;
    height: 100px;
    font-size: 20px;
    background-color: var(--violet-300);
}