.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: top;

    margin-top: 1rem;
    flex-direction: row;
    cursor: grab;
    overflow: hidden;

}

.inner {
    display: flex;
}

.item {
    width: 250px;
    height: 400px;
    padding: 14px;

}

.item img {
    width: 100%;
    height: 90%;
    border-radius: 12px;
    pointer-events: none;
}