.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;

    .noadd {
        display: flex;
        width: 60px;
    }

    p {
        font-size: 6rem;
        font-family: "Lavishly Yours";
    }
}

@media(max-width:1280px) {
    .container {
        p {
            font-size: 3rem;
        }
    }
}