.box {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
    padding: 1rem;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: var(--violet-500);
        margin-top: 5rem;


        input {
            font-family: "SUSE", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;

            margin: 0.5rem 0;
            width: 100%;
            border-radius: 0.5rem;
            border: 1px solid var(--violet-200);
            font-size: var(--input-font-size);
            height: var(--input-height);
            text-align: center;
            width: 20rem;
        }

        p {
            font-size: 1.5rem;
        }

        button {
            margin-top: 1rem;
            width: 20rem;
        }
    }
}