.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    position: relative;
    z-index: -3;
    font-family: "Lavishly Yours";

    header {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        top: 0;

        h1,
        h2 {
            font-weight: normal;
            color: var(--text-invite);
        }

        h1 {
            font-size: 12rem;
        }

        h2 {
            font-size: 5rem;
        }
    }

    .imge {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 0.75rem;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, var(--violet-100) 100%);
        background-size: cover;
        background-color: var(--background-opacity-dark);

        img {
            width: 100%;
            height: 100%;
            border-radius: 0.75rem;
            z-index: -2;
        }
    }
}



/* Responsividade */
@media (max-width: 1024px) {

    .container {

        .imge {
            width: 900px;
        }

        header {

            h1 {
                font-size: 9rem;
            }

            h2 {
                font-size: 4rem;
            }

        }

    }

}

@media (max-width: 900px) {

    .container {

        .imge {
            width: 768px;
        }

        header {

            h1 {
                font-size: 7rem;
            }

            h2 {
                font-size: 4rem;
            }
        }

    }

}

@media (max-width: 768px) {

    .container {

        .imge {
            width: 540px;
            height: 900px;
        }

        header {

            h1 {
                font-size: 6rem;
            }

            h2 {
                font-size: 3rem;
            }

        }

    }


}



@media (max-width: 540px) {

    .container {

        .imge {
            width: 450px;
            height: 700px;
        }

        header {

            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 4rem;
            }
        }

    }

}

@media (max-width: 450px) {

    .container {

        .imge {
            width: 414px;
            height: 700px;
        }

        header {

            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 2rem;
            }
        }

    }

}

@media (max-width: 414px) {

    .container {

        .imge {
            width: 350px;
            height: 600px;
        }

        header {

            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 2rem;
            }
        }

    }

}

@media (max-width: 350px) {

    .container {

        .imge {
            width: 340px;
            height: 600px;
        }

        header {

            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 2rem;
            }
        }

    }

}

@media (max-width: 240px) {

    .container {

        .imge {
            width: 240px;
            height: 400px;
        }

        header {

            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 2rem;
            }
        }

    }

}