.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lavishly Yours";
    position: relative;
    margin-top: 2rem;
}

.text,
.hour {
    position: absolute;
    width: 100%;
    color: var(--text-invite);
    top: 0;
    left: 0;
}

.text {
    transform: translateY(-500%);

    h1 {
        font-size: 10rem;
        font-weight: normal;
    }

    h4 {
        font-size: 4rem;
        font-weight: normal;
    }
}


.hour {
    transform: translateY(-150%);

    h3 {
        font-size: 8rem;
        font-weight: normal;
    }
}

.imge {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        z-index: -2;
    }
}

@media (max-width: 1280px) {

    .text {

        h1 {
            font-size: 6rem;
        }
    }

    .hour {

        h3 {
            font-size: 5rem;
        }
    }
}


/* Responsividade para telas menores */
@media (max-width: 1024px) {

    .text {

        h1 {
            font-size: 4rem;
        }

    }

    .hour {

        h3 {
            font-size: 4rem;
        }
    }
}

@media (max-width: 853px) {

    .text {

        h1 {
            font-size: 5rem;
        }
    }

    .hour {

        h3 {
            font-size: 4rem;
        }
    }
}

@media (max-width: 768px) {

    .text {

        transform: translateY(-400%);

        h1 {
            font-size: 4rem;
        }

    }

    .hour {
        h3 {
            font-size: 3rem;
        }
    }
}

@media (max-width: 540px) {

    .text {

        transform: translateY(-450%);

        h1 {
            font-size: 3.5rem;
        }
    }

    .hour {

        h3 {
            font-size: 3rem;
        }
    }
}

@media (max-width: 450px) {

    .text {

        transform: translateY(-260%);

        h1 {
            font-size: 4rem;
        }

    }

    .hour {
        h3 {
            font-size: 3rem;
        }
    }

}

@media (max-width: 414px) {

    .text {

        transform: translateY(-500%);

        h1 {
            font-size: 2.5rem;
        }
    }

    .hour {
        h3 {
            font-size: 2rem;
        }
    }

}

@media (max-width: 344px) {
    .text {

        transform: translateY(-270%);

        h1 {
            font-size: 2.5rem;
        }
    }

    .hour {
        h3 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 240px) {

    .text {

        transform: translateY(-290%);

        h1 {
            font-size: 2rem;
        }
    }

    .hour {
        transform: translateY(-130%);

        h3 {
            font-size: 2rem;
        }
    }
}