.box {
    padding: 3rem;

    & .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 1rem;

    }
}

@media (max-width: 767px) {

    .box {
        padding: 1rem
    }

}


@media (max-width: 430px) {

    .box {
        max-width: 414px;
    }
}