.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  width: 100%;
  overflow-y: auto;

  .scrollSpace {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .item {
      background-color: var(--grey-300);
      color: white;
      font-weight: bolder;
      font-size: larger;
      border-radius: 1rem;
      padding: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
