.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: red; */
  width: 100%;

  input {
    height: 3rem;
    background-color: white;
    border-radius: 1rem;
    color: black;
    text-align: center;
    font-size: large;
  }
}
