.container {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    margin-left: 0.5rem;


    input {
        background-color: white;
        border-radius: 1rem;
        color: black;
        text-align: center;
        font-size: large;
        height: 3rem;
    }


}